/*
	Element standards
*/

body {
	margin: 0px
}
h4 {
	margin: 10px 0;
}

/*
	Layout
*/

/* Run pane */
.lefts.col {
	width: 390px;
	padding: 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.5)
}

#fileInput.row {
	top: 0;
	height: 190px;
	margin: 5px;
}
	#fileInput .listview {
		height: 100px;
		width: 320px;
		display: inline-block
	}
	#fileInput .textview{
		height: 1.3em;
		width: 320px;
		display: inline-block
	}
	.placeholder {
		margin: 2px;
		height: 1.3em;
		font-size: 12px;
		color: grey;
		padding-left: 5px;
		font-style: italic;
	}

#parameters.row {
	top: 190px;
	bottom: 70px;
	margin: 5px;
}

	#parameters>div {
		width: 100%;
		margin: 5px 0px 5px 0px;
		overflow: hidden;
	}
	#parameters label {
		width: 100%;
	}
	.formInput {
		display: inline-block;
		width: 48%;
	}
	label span {
		width: 48%;
		text-align: right;
		vertical-align: top;
		margin-right: 10px; 
		display: inline-block;
	}
	input[type='number'],
	input[type='text']{
		width: 30px;
		text-align: right;
	}
	input[type='number']:invalid,
	input[type='text']:invalid{
		background-color: lightcoral;
	}
	select.fill {
		box-sizing: content-box;
		width: 100%;
	}
	#parameters .listview {
		height: 60px;
	}

#run.row {
	height: 70px;
	bottom: 0;
	margin: 5px;
}

	#run>div {
		display: table;
		width: 100%;
	}
		#run>div>div {
			display: table-cell;
			padding-right: 5px;
			width: 100%;
		}
			#run>div>div>div {
				position: relative;
			}
	#run progress {
		width: 100%;
		position: absolute;
		z-index: -1;
	}
	#run button {
		display: table-cell;
	}
	#run p {
		font-size: small;
		text-align: center;
	}	



/* Results pane */
.rights.col {
	left: 400px;
	right: 0;
}

.iconmenu.row {
	top: 0;
	height: 50px;
}
	.iconmenu svg {
		margin: 10px;
		width: 30px;
		height: 30px;
	}
	.iconmenu div, .iconmenu a {
		display: inline-block;
	}
		.iconmenu div:first-child {
			margin-left: 30px;
		}
		.iconmenu div:last-child {
			float: right;
			margin-right: 30px
		}
			.iconmenu svg path {
				fill: grey;
			}
			.iconmenu svg:hover path {
				fill: darkgrey;
			}

#resulttabs.row {
	top: 50px;
	bottom: 0;
	background-color: whitesmoke;
}
	.tabpane:not(.active) {
		display: none;
	}
	.tabpane.row {
		top: 40px;
		bottom: 0;
	}

#sampleTab .plotArea {
	top: 0;
	bottom: 200px;
}
#samplePlots div {
	display: inline-block;
}
#sampleTab .infoArea {
	height: 200px;
	bottom: 0;
}
	#sampleTab .infoArea>div {
		width: 500px;
		margin: auto;
	}
		#sampleTab .infoArea>div>div {
			display: table-cell;
			width: 250px;
			padding: 0 10px;
		}
		#sampleTab .infoArea select{
			width: 230px;
		}
			#sampleTab .infoArea .samples p {
				font-size: x-small;
				margin-top: 2px;
				text-align: right;
			}
			#sampleTab .infoArea .samples p span:first-child {
				font-weight: bold;
			}
			#sampleTab .infoArea .stat div {
				width: 230px;
			}
			#sampleTab .infoArea .stat p {
				margin: 0;
				line-height: 1.5em
			}
			#sampleTab .infoArea .stat p span:first-child {
				width: 150px;
				text-align: right;
				font-weight: bold;
				display: inline-block;
				margin-right: 10px;
			}

#idTab .plotArea {
	top: 0;
	bottom: 200px;
}
#idTab .plotArea div {
	margin: auto;
}
#idTab .infoArea {
	height: 200px;
	bottom: 0;
}
	#idTab .infoArea div {
		width: 750px;
		margin: auto;
	}
		#idTab .infoArea div div {
			display: table-cell;
			width: 250px;
			padding: 0 10px;
		}
		#idTab .infoArea select {
			width: 230px
		}
		#idTab .infoArea p {
			font-size: x-small;
			margin-top: 2px;
			text-align: right;
		}
		#idTab .infoArea p span:first-child {
			font-weight: bold;
		}

#filterTab>.col {
	left: 0;
	right: 0;
}
#filterTab .fdr {
	height: 120px;
}
	#filterTab .fdr>h4{
		text-align: center;
	}
	#filterTab .fdr>div{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	
#filterTab>div>hr {
	position: relative;
	top: 100px;
	margin: 0 20px;
}
#filterTab>div>hr:nth-of-type(2) {
	top: 410px;
}
#filterTab .sample {
	top: 120px;
	height: 300px;
}
	#filterTab .sample>div {
		width: 675px;
		margin-right: auto;
		margin-left: auto;
		padding: 0 20px;
	}
	
#filterTab .database {
	top: 440px;
	height: 300px;
}
	#filterTab .database>div {
		width: 950px;
		margin-right: auto;
		margin-left: auto;
		padding: 0 20px;
	}
	
#filterTab .filterInfo>div>div{
	display: inline-block;
	width: 230px;
	margin-right: 40px;
	vertical-align: top;
}
#filterTab .filterInfo>div>div:last-child{
	margin-right: 0;
}
	#filterTab .filterInfo>div>div+div {
		width: 400px;
	}
		#filterTab .filterInfo>div>div+div>div {
			width: inherit;
		}
		#filterTab .filterInfo .d3-slider {
			width: 400px;
		}
	#filterTab .filterInfo>div>div+div+div {
		width: 230px;
	}
	#filterTab .filterInfo>div>div+div h4 {
		margin-bottom: 20px;
	}
	#filterTab .filterInfo>div>div+div h4:not(:first-child) {
		margin-top: 45px;
	}
	#filterTab .filterInfo input{
		display: block;
	}
	#filterTab .filterInfo select+p {
		font-size: x-small;
		margin-top: 2px;
		text-align: right;
	}
	#filterTab .filterInfo select, #filterTab .filterInfo input{
		width: 230px;
		padding: 0;
		border: 1px solid grey;
		box-sizing:content-box;
		-ms-box-sizing:content-box;
		-moz-box-sizing:content-box;
		-webkit-box-sizing:content-box;
	}
	

.listview, .textview {
	background: white;
	border-style: inset;
	border-width: 1px;
	border-radius: 2px;
}
.textview table{
	table-layout: fixed;
}
.listview {
	overflow: auto;
}
.listview table {
	min-width: 100%
}


.rightButtonPane {
	display: inline-block;
	vertical-align: top;
}
.rightButton {
	width: 60px;
	margin-bottom: 5px;
	margin-left: 4px
}
.topcoat-button-bar {
	margin-top: 3px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.topcoat-button-bar .topcoat-button {
	width: 33.33%;
}
.topcoat-button-bar .topcoat-button i{
	font-size: 16px;
	vertical-align: text-bottom;
}
table {
	font-size: 12px;
}
.clearBackground {
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: white;
	opacity: 0.5;
	z-index: 100;
}
.modalPopup {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 101
}
.modalPopup>div {
	background: darkgrey;
	opacity: 1;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	z-index: 102;
	border-radius: 10px;
	padding-bottom: 10px;
	box-shadow: 0px 0px 10px 3px grey
}
#modalSetPar .modalPopup p {
	margin: 0 10px;
	margin-bottom: 20px;
}
.modalPopup h5 {
	width: 100%;
	text-align: center;
	background: grey;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#modalSetPar .modalPopup input, #modalSetPar .modalPopup select {
	width: 150px;
	text-align: left;
}
.modalButton {
	position: relative;
	left: 50%;
	display: inline-block;
	margin-top: 10px;
}
.modalButton button {
	left: -50%;
	width: 75px;
	margin: 0 2px;
}
#modificationList tr {
	width: 100%
}
select[name=sampleRemoveList] {
	width: 80%;
	left: 10%;
	position: relative;
}
.listview {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.selected {
	background: lightblue;
}
.filePathModal label {
	margin-left: 20px;
	margin-right: 20px;
}
.filePathModal input {
	width: 70%;
	margin-left: 10px;
	text-align: left;
}
.filePathModal .errorContainer {
	position: relative;
	height: 30px;
	margin: 10px 0;
}
.filePathModal p.errorMessage {
	color: darkred;
	font-size: small;
	text-align: center;
}
.filePathModal .modalButton {
	margin-top: 0;
}
#globalSettingsModal .tabbar {
	background: darkgrey;
}
#globalSettingsModal .tabpane {
	clear: both;
	margin: 0 10px;
	background: whitesmoke;
	padding: 5px 10px 2px 10px;
	border-radius: 10px;
}
#globalSettingsModal .tabpane div:not(:first-child)>p{
	padding-top: 20px;
}
#globalSettingsModal .listview {
	height: 70px;
}
#globalSettingsModal .listview:last-child {
	margin-bottom: 10px;
}
#globalSettingsModal .listview table{
	width: 50%;
	padding: 2px 0;
}
#globalSettingsModal .listview table p{
	display: inline;
	padding: 6px 4px 3px 4px;
	margin: 0 6px;
	border-radius: 3px;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
}
#globalSettingsModal .listview table p:not(.selected){
	color: grey;
}
#globalSettingsModal .listview table td{
	vertical-align: middle;
}
#globalSettingsModal .listview table td:first-child{
	width: 50%;
}#globalSettingsModal .listview table td:nth-child(2){
	text-align: center;
}
#globalSettingsModal .listview table td:last-child{
	width: 1.5em;
}
#globalSettingsModal .listview table td:last-child p{
	color: firebrick;
	margin-right: 0;
	padding-right: 0;
}
#globalSettingsModal .listview table tr:last-child{
	text-align: center;
	color: grey;
	font-style: italic;
}
#globalSettingsModal .table {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 5px 0;
}
#globalSettingsModal .table .topcoat-checkbox {
	display: table-cell;
	margin: 0 auto;
	padding: 0 10px;
}
#globalSettingsModal .table .topcoat-checkbox span {
	width: auto;
}
#globalSettingsModal label {
	display: block;
	margin: 10px 0;
}
#globalSettingsModal span {
	width: auto;
	font-size: small;
	vertical-align: baseline;
}
#globalSettingsModal span:first-child {
	width: 50%;
	text-align: right;
	margin: 0 2.5px;
}
#globalSettingsModal span:first-child::after {
	content: ' ';
	margin-left: 2.5px;
}
#globalSettingsModal .modalPopup input[type=number] {
	text-align: right;
	width: 40px;
	margin-right: 5px;
}
#globalSettingsModal .tabpane p {
	margin: 0;
}
#database, #datafiles {
	width: 100%;
}
.tabbar {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	font-size: small;
	background: #dfe2e2;
	
}
.tabbar ul {
	text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 24px;
	position: relative;
}
.tabbar ul li {
    display: inline-block;
    position: relative;
    z-index: 0;
    cursor: default;
}
.tabbar ul:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
.tabbar ul:before {
    z-index: 1;
}
.tabbar li.active {
    z-index: 2;
    border-bottom-color: whitesmoke;
    
}
.tabbar ul li p {
	padding:.4em .8em;
	text-decoration:none;
	border-left: 1px solid grey;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	line-height:1.3em;
	border-radius: 5px 5px 0px 0px;
	margin: 0px 2px 0px 2px;
	box-shadow: inset 0px -8px 15px -10px rgba(0,0,0,0.5);
}
.tabbar ul li.active p {
	background: whitesmoke;
	box-shadow: none;
}
.tabbar ul li p:hover {
	background-color: whitesmoke;
}

/*
	General classes
*/
.row, .col { 
	overflow: hidden; 
	position: absolute; 
}
.row { 
	left: 0; 
	right: 0; 
	}
.col { 
	top: 0; 
	bottom: 0; 
}
.scroll-x { 
	overflow-x: auto; 
}
.scroll-y { 
	overflow-y: auto; 
}

.centerOuter {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.centerOuterInline {
    display: inline-table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.centerMiddle {
    display: table-cell;
    vertical-align: middle;
}

.centerInner {
    margin-left: auto;
    margin-right: auto;
}

/*
	SVG
*/
svg {
	margin: 0;
	padding: 0;
}
.axis {
	fill: none;
	stroke: black;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-width: 1;
	shape-rendering: crispedges;
}
.axis .domain {
	stroke-width: 2
}
.axis text {
	stroke: none;
	fill: black;
	shape-rendering: auto;
}
.axis .tick text {
	font-size: small;
}
.axis .label {
	font-size: small;
}
.grid {
	fill: none;
	stroke: lightgrey;
	stroke-width: 1;
	stroke-linecap: square;
	shape-rendering: crispedges;
}

.target {
	fill: forestgreen;
	stroke: forestgreen;
}
.decoy {
	fill: darkred;
	stroke: darkred;
}

.line.target, .line.decoy {
	fill: none;
}

.area.target, .area.decoy {
	fill-opacity: 0.3;
	stroke: none;
}


.evidenceArc {
	fill: lightgrey;
}
.evidenceArc.passFilter {
	fill: forestgreen;
}
.evidenceArc.unSelected {
	opacity: 0.5;
}
.evidenceArc.selected {
	fill: steelblue;
	stroke: black;
}
.ions line {
	stroke: grey;
}
.ions.fragment:not(.hidden) line {
	stroke: black;
}
.ions.fragment.hidden text {
	visibility: hidden;
}
.ions.parent line {
	stroke: darkred
}
.trace .ms2 {
	stroke: black;
	fill: none;
}
.trace .ms2.parent {
	fill: darkred;
}








/*
	Sliders
*/
.d3-slider {
    position: relative;
    font-size: 1.1em;
    background: lightgrey;
    z-index: 2;
    margin: 15px 10px;
}

.d3-slider-horizontal {
    height: .3em;
}  

.d3-slider-range {
  background:steelblue;
  left:0px;
  right:0px;
  height: 0.3em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:steelblue;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .3em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 0.6em;
    height: 1.2em;
    background: forestgreen;
    z-index: 3;
}

.d3-slider-handle:hover {
    background: darkgreen;
}
.d3-slider-handle-text {
	position: absolute;
	font-size: small;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.d3-slider-handle-group:hover .d3-slider-handle-text, 
.d3-slider-handle-group:active .d3-slider-handle-text {
	opacity: 1;
}

.d3-slider-horizontal #handle-one.d3-slider-handle {
    top: -.45em;
    margin-left: -.6em;
    border-radius: 50px 0px 0px 50px
}
.d3-slider-horizontal #text-one.d3-slider-handle-text {
    top: -2.75em;
    left: 0;
}

.d3-slider-horizontal #handle-two.d3-slider-handle {
    top: -.45em;
    border-radius: 0px 50px 50px 0px
}
.d3-slider-horizontal #text-two.d3-slider-handle-text {
    top: -2.75em;
    right: 0;
    text-align: right;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;    
}

.d3-slider-axis-bottom {
    top: .3em;
}

.d3-slider-axis-right {
    left: .3em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}


/*
	Tooltip
*/

#tooltip {
	position: absolute;
	background: whitesmoke;
	border: 1px solid grey;
	border-radius: 5px;
	z-index: 1000;
	box-shadow: 0px 0px 20px black;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}
#tooltip.fadein {
	visibility: visible;
	opacity: 1;
}
.tooltipTitle {
	position: relative;
	z-index: 2000;
}
.tooltip {
	font-size: small;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}